table {
  width: 50%;
  margin: auto;
}
th{
  font-family: 'Kaushan Script', cursive;
  font-size: 1.0em;
  line-height: 1;
  letter-spacing: 3px;
  color:#052831;
  padding:40px;
}
td{
  font-family: 'Kaushan Script', cursive;
  font-size: 1.0em;
  line-height: 1;
  letter-spacing: 3px;
  height: 50%;
  color:#052831;
  padding:40px;
}
button{
  font-family: 'Kaushan Script', cursive;
  font-size: 1.0em;
  line-height: 1;
  letter-spacing: 3px;
  color:#052831;
  padding:40px;
}
h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 3px;
  color:#052831;
  padding:40px;
}
