<div style="text-align:center">
  <h2>Passing a test</h2>
<mat-card *ngFor="let element of dataSource">
  <mat-card-content>
      <p>Test task:<label id="field1">{{element.Question}}</label></p>
    <h2 class="example-h2">Variants of answer:</h2><br><br><br>
    <section class="example-section">
      <mat-radio-group [(ngModel)]="labelPosition">
        <mat-radio-button class="example-margin" value="a">{{element.Answer1}}</mat-radio-button><br><br>
        <mat-radio-button class="example-margin" value="b">{{element.Answer2}}</mat-radio-button><br><br>
        <mat-radio-button class="example-margin" value="c">{{element.Answer3}}</mat-radio-button><br><br>
        <mat-radio-button class="example-margin" value="d">{{element.Answer4}}</mat-radio-button><br><br>
      </mat-radio-group>
    </section>
  </mat-card-content>
</mat-card>


  <div class = "example-button-row">
    <button mat-stroked-button [routerLink]="['result']">Finish</button>
  </div>
</div>
<router-outlet></router-outlet>
