<div style="text-align:center">
  <h2>Create a task</h2>
  <mat-card class="field">
    <mat-card-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Task:</mat-label>
        <input #question matInput placeholder="Task">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <h3>Variants</h3>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>a):</mat-label>
        <input #answer1 matInput placeholder="a">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>b):</mat-label>
        <input #answer2 matInput placeholder="b">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>c):</mat-label>
        <input #answer3 matInput placeholder="c">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>d):</mat-label>
        <input #answer4 matInput placeholder="d">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>True answer:</mat-label>
        <input #rightanswer matInput placeholder="True answer">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please,enter only letter!</mat-hint>
      </mat-form-field>
    </p>
    </mat-card-content>
  </mat-card>
  <div class="example-button-row">
    <br><button (click)="addQuestion(question.value,answer1.value,answer2.value,answer3.value,answer4.value,rightanswer.value);question.value='';answer1.value='';answer2.value='';answer3.value='';answer4.value='';rightanswer.value=''; " mat-stroked-button >Add question</button>
    <br><button (click)="finish()" mat-stroked-button >Finish</button>
  </div>
</div>
