/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.bg-img
{
  background-image: url('http://i42.beon.ru/63/71/2057163/78/90582478/tumblr_lv490jvnvs1r6me19o1_400_large.gif');
  background-position: center;
  background-repeat: repeat;
}
