<div style="text-align:center">
  <h2>Create a task</h2>
  <div class="field">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Task:</mat-label>
        <input matInput placeholder="Task">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <h3>Variants</h3>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>a):</mat-label>
        <input matInput placeholder="a">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>b):</mat-label>
        <input matInput placeholder="b">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>c):</mat-label>
        <input matInput placeholder="c">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>d):</mat-label>
        <input matInput placeholder="d">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>This field is required!</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>True answer:</mat-label>
        <input matInput placeholder="True answer">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please,enter only letter!</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="example-button-row">
    <br><button  ng-click='clearCompleted()' mat-stroked-button >Next</button>
    <br><button  ng-click='clearCompleted()' mat-stroked-button >Create test</button>
  </div>
</div>
