<div style="text-align:center">
<!--Не знаю или он тебе нужно)-->
 <!-- <div class="one" ><h1  style="color:White">APPLICATION</h1></div>-->

    <mat-card>
      <mat-icon>grade</mat-icon>
      <mat-icon>grade</mat-icon>
      <mat-icon>grade</mat-icon>
      <mat-icon>grade</mat-icon>
      <mat-icon>grade</mat-icon><br>
    This application gives opportunity for everyone to pass tests on different
    themes and get results of this passing. Every user can create his/her own test
    for other users. This application is free, but all this features are available
    only after users' registration.
      </mat-card><br>

  <div class="example-button-row">
    <button mat-stroked-button (click)="registrate()">Registration</button>
  </div>
  <router-outlet></router-outlet>
</div>
